.vs/EventFinderAPI/FileContentIndex/959f132c-c3b1-44a0-9e6f-d4cdd627f301.vsidx
.vs/EventFinderAPI/FileContentIndex/0be90231-b783-4b5a-aebd-41d0726f793c.vsidx
.vs/EventFinderAPI/FileContentIndex/94167257-5bca-4fe2-a1f0-4a8cc10429b3.vsidx
.vs/EventFinderAPI/FileContentIndex/2c9204ed-479f-4c1d-810f-526075f8d5fe.vsidx
Frontend/src/pages/EventDetails.jsx
.vs/EventFinderAPI/FileContentIndex/99478cd2-3e42-40ae-9960-074d47c39d37.vsidx
Frontend/.env
.vs/EventFinderAPI/FileContentIndex/630a1a8a-a932-41a8-8da5-9f26166c7be0.vsidx
.vs/EventFinderAPI/FileContentIndex/fa95d1be-269b-41d8-93db-d4f5d6a8c688.vsidx
.vs/EventFinderAPI/FileContentIndex/305da663-9811-45fd-bf5a-35bc55382283.vsidx
.vs/EventFinderAPI/FileContentIndex/2cb43761-70fb-42a1-83bf-c844b7153186.vsidx
.vs/EventFinderAPI/FileContentIndex/2dfa1691-34e3-4ab5-b0c1-7ce960369298.vsidx
.vs/EventFinderAPI/FileContentIndex/a9fe5c6d-8516-4eb5-8ff8-b3f3bae5de9e.vsidx
.vs/EventFinderAPI/FileContentIndex/d585dbfa-4917-4f1e-a0ba-49edfed48919.vsidx
.vs/EventFinderAPI/FileContentIndex/dcfef5ad-1c28-4c38-a1f2-76acacb8c39d.vsidx
.vs/EventFinderAPI/FileContentIndex/af30e05f-670e-43c7-8b3b-ac3ae180037a.vsidx
/EventFinderAPI/appsettings.json
/EventFinderAPI/appsettings.Development.json
