.vs/EventFinderAPI/FileContentIndex/959f132c-c3b1-44a0-9e6f-d4cdd627f301.vsidx
.vs/EventFinderAPI/FileContentIndex/0be90231-b783-4b5a-aebd-41d0726f793c.vsidx
.vs/EventFinderAPI/FileContentIndex/94167257-5bca-4fe2-a1f0-4a8cc10429b3.vsidx
.vs/EventFinderAPI/FileContentIndex/2c9204ed-479f-4c1d-810f-526075f8d5fe.vsidx
Frontend/src/pages/EventDetails.jsx
.vs/EventFinderAPI/FileContentIndex/99478cd2-3e42-40ae-9960-074d47c39d37.vsidx
Frontend/.env
